
* {
	font-family: 'Hind';
	background-color:#1d2121;
	color : #fcf8f2 ;
	margin-top: 5px;
}
a{
	text-decoration: none;
}
head{
	margin: 0px;
	padding: 0px;
}

#title{
	display: inline-block;
	background: transparent;

	margin: auto;

	padding-top: 20%;

}
.head {
	font-weight: bold;
    /* line-height: 300px; */
	font-size: 60px;
	/* width: 10em; */
	background: transparent;
}
.quote {
	background: transparent;
}

#firstPanel{
	width: height:100vw;
    height:97vh;
    background-image: url("../asset/mainPic.jpg");
	background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
  	padding: 0px;

}

/******************body******************/

body{
	text-align: center;
	min-width: 500px;
	        /* Suppose you want minimum width of 1000px */
   	width: auto !important;  /* Firefox will set width as auto */
   	width:1000px;
   	background-color: transparent !important;
}

.picture{

	/*background-color: blue;*/
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* .topimg{
	position:absolute;
	left:40px;
	top:10px;
	z-index:-1;
}
.bottomimg{
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
} */
img{
	max-width: 100%;
		justify-content: center;
			overflow: hidden;
  	height: auto;

	object-fit: cover;
	height: 500px;
}
.about{
	margin: auto;
	width: 50%;
	/*background-color: red;*/

}
#blink{
	font-size: 20px;
	color: teal;
}
.topText{
	font-weight: bold;
	font-size: 30px;
}

#content1{
	padding-top: 50px;
	display: flex;

	margin: 0;
	padding: 0;
	/*background-color: green;*/
	max-width: 100%;

}
#content2{
  padding-top: 150px;
	display: flex;


	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
	max-width: 100%;
}

p{
	text-align: justify;
	line-height: 30px;
	vertical-align: center;
	font-size: 16px;
	width: 70%;
	margin-left: auto;
    margin-right: auto;
}
p a{
	color: teal;
}



/* get in touch  */
.contact {
	width: 40%;
	margin-left: 5%;
	padding-top: 80px;
	padding-bottom: 80px;
}

h5{
	text-transform: uppercase;
	text-align: left;
}
.contactp{
	text-align: left;
}
hr{

    height: 1px;
    border: 0;
    border-top: 1px solid rgb(128, 128, 128);
    margin: 1em 0;
    padding: 0;
}


/*footer*/

.footer {
    width: 100%;
    color: white;
    background-color: black;

}

.socialMedia{
	background-color: black;
	text-align: right;
	padding: 100px;
}
h1{
	font-size: 13px;
	background-color: black;
	text-align: left;
}

.fa {
background: black;
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {

  color: white;
}
.fa-linkedin {

  color: white;
}
