
* {
	font-family: 'Hind';
	background-color: #1d2121;
	color : #fcf8f2 ;
	margin-top: 5px;

}
a{
	text-decoration: none;
}


head{
	margin: 0px;
	padding: 0px;
}
/*ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0;
}
.nav{
		display: inline;
}
li.alignLeft{
	float: left;
}
li.alignRight{
	float: right;
}*/
/*a.navBar{
	display: block;
	padding: 20px;
	background-color: black;
}
a.navBar:hover {
	background-color: #35bedd;
} */

h2.head {
	margin-left: auto;
    margin-right: auto;
    line-height: 300px;
    text-align: center;
	font-size: 70px;
	width: 10em;
	background: transparent;
}

#firstPanel{
	width: height:100vw;
    height:98vh;
    background-image: url("../asset/mainPic.jpg");
	background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
  	padding: 0px;

}

/******************body******************/

body{
	text-align: center;
	min-width: 500px;
	        /* Suppose you want minimum width of 1000px */
   	width: auto !important;  /* Firefox will set width as auto */
   	width:1000px;
   	background-color: transparent !important;
}

.picture{

	/*background-color: blue;*/
	margin-left: auto;
    margin-right: auto;
    width: 50%;


}
img{
	max-width: 100%;
		justify-content: center;
			overflow: hidden;
  	height: auto;
  	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.about{
	margin: auto;
	width: 50%;
	/*background-color: red;*/

}
#blink{
	font-size: 20px;
	color: teal;
}
.topText{
	font-weight: bold;
	font-size: 40px;
}

#content1{
	display: flex;
	/* flex-wrap: wrap; */
	margin: 0;
	padding: 0;
	/*background-color: green;*/
	max-width: 100%;

}
#content2{
	display: flex;


	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
	max-width: 100%;
}

p{
	text-align: justify;
	line-height: 30px;
	vertical-align: center;
	font-size: 16px;
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}
p a{
	color: teal;
}
/* get in touch  */
.contact {
	width: 30%;
	margin-left: 5%;
	padding-top: 90px;
	padding-bottom: 90px;
}

h5{
	text-transform: uppercase;
	text-align: left;
}
.contactp{
	text-align: left;
}
hr{

    height: 1px;
    border: 0;
    border-top: 1px solid rgb(128, 128, 128);
    margin: 1em 0;
    padding: 0;
}


/*footer*/

.footer {
    width: 100%;
    color: white;
    background-color: black;

}

.socialMedia{
	background-color: black;
	text-align: right;
	padding: 100px;
}
h1{
	font-size: 13px;
	background-color: black;
	text-align: left;
}

.fa {
	background: black;
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {

  color: white;
}
.fa-linkedin {

  color: white;
}

/* h1{
  color: teal;
} */
