
* {
	font-family: sans-serif;
	background-color: #0e0f0f;
	color : #fcf8f2 ;
	margin-top: 5px;
	margin-right:
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;

}

}

head{
	margin: 0px;
	padding: 0px;
}
/*ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0;
}
.nav{
		display: inline;
}
li.alignLeft{
	float: left;
}
li.alignRight{
	float: right;
}*/
/*a.navBar{
	display: block;
	padding: 20px;
	background-color: black;
}
a.navBar:hover {
	background-color: #35bedd;
} */

h2.head {
	margin-left: auto;
    margin-right: auto;
    line-height: 300px;
    text-align: center;
	font-size: 28px;

	background: transparent;
}

#firstPanel{
	width: height:100vw;
    height:95vh;
    background-image: url("../asset/mainPic.jpg");
	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
  	padding: 0px;

}

/******************body******************/

body{
	text-align: center;
	        /* Suppose you want minimum width of 1000px */
   	width: auto !important;  /* Firefox will set width as auto */
   	width:1000px;
   	background-color: transparent !important;
}

.picture{

	/*background-color: blue;*/
	margin-left: auto;
    margin-right: auto;



}
img{
	max-width: 100%;
		justify-content: center;
			overflow: hidden;
  	height: auto;
  	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.about{
	margin: auto;
	width: 90%;
	/*background-color: red;*/

}
.topText{
	font-weight: bold;
	font-size: 25px;
}

#content1{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	/*background-color: green;*/
	max-width: 100%;

}
#content2{
  padding-top: 150px;
  margin-top: 200px;
	display: flex;

	flex-wrap: wrap;
	margin: 0;
	padding-top: 120px;
	/*background-color: yellow;*/
	max-width: 100%;
}

p{
	text-align: justify;
	line-height: 30px;
	vertical-align: center;
	font-size: 16px;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}
p a{
	color: teal;
}




}


/*footer*/

.footer {
    width: 100%;
    color: white;
    background-color: black;

}

.socialMedia{
	background-color: black;
	text-align: center;
	padding: 40px;
}
h1{
  font-size: 10px;
	background-color: black;
	text-align: center;
  padding-bottom: 30px;
}

.fa {

  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: black;
  color: white;
}
.fa-linkedin {
  background: black;
  color: white;
}
